<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.app.mapper.EmpMapper">
  <resultMap id="BaseResultMap" type="cn.app.domain.Emp">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="EMPNO" jdbcType="DECIMAL" property="empno" />
    <result column="ENAME" jdbcType="VARCHAR" property="ename" />
    <result column="JOB" jdbcType="VARCHAR" property="job" />
    <result column="MGR" jdbcType="DECIMAL" property="mgr" />
    <result column="HIREDATE" jdbcType="TIMESTAMP" property="hiredate" />
    <result column="SAL" jdbcType="DECIMAL" property="sal" />
    <result column="COMM" jdbcType="DECIMAL" property="comm" />
    <result column="DEPTNO" jdbcType="DECIMAL" property="deptno" />
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT  * FROM EMP
  </select>

  <select id="getEmp" parameterType="short" resultMap="BaseResultMap">
    SELECT * FROM EMP WHERE EMPNO= #{id}
  </select>

 <insert id="insertEmp">
   INSERT INTO EMP(EMPNO,ENAME,JOB,MGR,SAL,COMM,DEPTNO) VALUES(1,2,3,7839,6,7,10)
 </insert>
</mapper>